@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Thin'), local('ClearSans-Thin'), url('../fonts/clearsansthin.woff2') format('woff2'), url('../fonts/clearsansthin.woff') format('woff'), url('../fonts/clearsansthin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Light'), local('ClearSans-Light'), url('../fonts/clearsanslight.woff2') format('woff2'), url('../fonts/clearsanslight.woff') format('woff'), url('../fonts/clearsanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans'), local('ClearSans'), url('../fonts/clearsans.woff2') format('woff2'), url('../fonts/clearsans.woff') format('woff'), url('../fonts/clearsans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Italic'), local('ClearSans-Italic'), url('../fonts/clearsansitalic.woff2') format('woff2'), url('../fonts/clearsansitalic.woff') format('woff'), url('../fonts/clearsansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Medium'), local('ClearSans-Medium'), url('../fonts/clearsansmedium.woff2') format('woff2'), url('../fonts/clearsansmedium.woff') format('woff'), url('../fonts/clearsansmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Medium Italic'), local('ClearSans-MediumItalic'), url('../fonts/clearsansmediumitalic.woff2') format('woff2'), url('../fonts/clearsansmediumitalic.woff') format('woff'), url('../fonts/clearsansmediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url('../fonts/clearsansbold.woff2') format('woff2'), url('../fonts/clearsansbold.woff') format('woff'), url('../fonts/clearsansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Bold Italic'), local('ClearSans-BoldItalic'), url('../fonts/clearsansbolditalic.woff2') format('woff2'), url('clearsansbolditalic.woff') format('woff'), url('clearsansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


/*
body {
  min-width: 1030px;
}
.container {
  width: 1030px;
  max-width: none !important;
}
*/
@media (min-width: @screen-sm-min) {
  body {
    font-size: 14px;
  }
}
@media (min-width: @screen-lg-min) {
  h1 {
    font-size: @font-size-h1 * 1.4;
  }
  h2 {
    font-size: @font-size-h1 * 1.333333;
  }
  h3 {
    font-size: @font-size-h1 * 1.125;
  }
}
h1, h2, h2, h4, h5, h6 {
  color: @dark-text-color;
}
.inner-page {
  p {
    margin: @line-height-computed/2 0 @line-height-computed;
  }
}
table {
  .table-bordered;
}
.table > tbody > tr:hover > td, .table > tbody > tr:focus > td {
  background: #f2f2f2;
}
.btn-gradient {
  border: none;
  position:relative;
  z-index:0;
  &:before, &:after {
    content: "";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    border-radius: @border-radius-base;
    z-index:-1;
  }
  &:hover, &:focus {
    border: none;
    &:before {
      opacity:1;
    }
  }
  &:active {
    border: none;
    &:after {
      opacity:1;
    }
  }
}
.btn-primary {
  .btn-gradient;
  background: linear-gradient(to bottom, @brand-primary-light, @brand-primary);
  &:before {
    background: linear-gradient(to bottom, darken(@brand-primary-light, 5%), darken(@brand-primary, 15%));
  }
  &:after {
    background: linear-gradient(to bottom, darken(@brand-primary, 15%), darken(@brand-primary-light, 5%));
  }
}
.btn-danger {
  .btn-gradient;
  background: linear-gradient(to bottom, @brand-danger, @brand-danger-dark);
  &:before {
    background: linear-gradient(to bottom, darken(@brand-danger, 5%), darken(@brand-danger-dark, 5%));
  }
  &:after {
    background: linear-gradient(to bottom, darken(@brand-danger-dark, 5%), darken(@brand-danger, 5%));
  }
}
.btn-default {
  .btn-gradient;
  background: linear-gradient(to bottom, #f5f5f5, #e7e7e7);
  &:before {
    background: linear-gradient(to bottom, darken(#f5f5f5, 5%), darken(#e7e7e7, 5%));
  }
  &:after {
    background: linear-gradient(to bottom, darken(#e7e7e7, 10%), darken(#f5f5f5, 5%));
  }
}
.border-link(@border-color: rgba(75,48,145,0.5)) {
  border-bottom: 1px solid @border-color;
}
.no-border {
  border-bottom: none;
}
a {
  .border-link;
}
label {
  color: #3c3c3b;
  //font-size: 12px;
}
input[type="text"], input[type="email"], input[type="tel"] {
  .form-control;
  max-width: 400px;
}
input[type="radio"] {
  margin: -2px 0 0;
}
textarea {
  .form-control;
  max-width: 600px;
  height: 150px;
}
.form-submit {
  .btn;
  .btn-danger;
  width: 100%;
  max-width: 290px;
  height: 60px;
  font-size: 20px;
}
select {
  .form-control;
  max-width: 400px;
  background-image: url(../images/select-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
.help-block {
  font-size: 12px;
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
                                                          /*Header*/
header {
  .tel {
    > a {
      color: @dark-text-color;
      .no-border;
      @media (min-width: @screen-lg-min) {
        font-size: 18px;
      }
      span {
        font-size: 20px;
        font-weight: 700;
        @media (min-width: @screen-sm-min) {
          font-size: 24px;
        }
        @media (min-width: @screen-lg-min) {
          font-size: 32px;
        }
      }
    }
    @media (min-width: @screen-sm-min) {
      margin-bottom: 10px;
    }
  }
}
.header-info {
  padding: 10px 0 25px;
}
.navbar-brand {
  float: none;
  display: block;
  height: auto;
  .no-border;
  img {
    .img-responsive;
  }
}
.header-brand {
  padding-right: 0;
}
.header-contacts {
  padding-left: 0;
  text-align: right;
  @media (min-width: @screen-md-min) {
    padding-top: 5px;
  }
}
.feedback {
  margin-top: 3px;
  @media (min-width: @screen-lg-min) {
    float: left;
    width: 50%;
  }
  a {
    font-size: 13px;
  }
}
.main-navbar {
  padding: 15px 0;
  > li {
    float: none;
    display: inline;
    margin-right: 30px;
    z-index: 460;
    @media (min-width: @screen-sm-min) {
      margin-right: 17px;
    }
    @media (min-width: @screen-md-min) {
      margin-right: 53px;
    }
    @media (min-width: @screen-lg-min) {
      margin-right: 53px;
    }
    &:nth-of-type(5) {
      @media (max-width: @screen-xs-max) {
        margin-right: 0;
      }
    }
    &:last-child {
      @media (min-width: @screen-sm-min) {
        margin-right: 0;
      }
    }
    > a {
      font-size: 12px;
      font-weight: 700;
      display: inline-block!important;
      padding: 0;
      border-color: rgba(255,255,255,0.2);
      text-transform: uppercase;
      @media (min-width: @screen-sm-min) {
        font-size: 13px;
      }
      @media (min-width: @screen-md-min) {
        font-size: 14px;
      }
      @media (min-width: @screen-lg-min) {
        font-size: 15px;
      }
      &.dropdown-toggle {
        border-bottom-style: dotted;
      }
    }
  }
}
.autocredit-xs-link {
  background: @brand-primary;
  padding: 10px 0 15px;
  text-align: center;
  a {
    color: @brand-danger;
    font-size: 13px;
    font-weight: 700;
    .border-link(rgba(237,28,50,0.3));
    text-transform: uppercase;
  }
}
.autocredit-lg-link {
  a {
    @media (min-width: @screen-sm-min) {
      color: @brand-danger!important;
      border-bottom-color: rgba(237,28,50,0.5)!important;
    }
  }
}
.navbar-nav > li > {
  .dropdown-menu {
    margin: 0 -15px;
    padding-bottom: 0;
    @media (min-width: @screen-sm-min) {
      width: 220px;
    }
    > li {
      padding: 10px 15px;
      border-bottom: 1px dashed rgba(255,255,255,0.2);
      @media (min-width: @screen-sm-min) {
        padding: 10px 15px 0;
        border: none;
      }
      &:last-child {
        border-bottom-style: solid;
      }
      > a {
        font-size: 12px;
        font-weight: 700;
        display: inline;
        .border-link(rgba(255,255,255,0.2));
        text-transform: uppercase;
      }
      > ul {
        .list-unstyled;
        > li {
          margin: 8px 0 3px;
          @media (min-width: @screen-sm-min) {
            margin: 0 -15px;
            padding: 6px 15px;
            border-top: 1px dashed rgba(255,255,255,0.2);
          }
          > a {
            color: #fff;
            font-size: 13px;
            .no-border;
            @media (min-width: @screen-lg-min) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
.navbar-nav .open .dropdown-menu > li > a {
  padding: 0;
  display: inline-block!important;
  @media (min-width: @screen-sm-min) {
    display: none!important;
  }
}
.header-slogan {
  border: 1px solid rgba(237,28,50,0.5);
  padding: 7px 10px;
  border-radius: 2px;
  color: @dark-text-color;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  @media (min-width: @screen-sm-min) {
    margin-top: 15px;
    width: 189px;
  }
  @media (min-width: @screen-md-min) {
    margin-top: 25px;
  }
  span {
    font-size: 14px;
  }
}
.header-address {
  color: @dark-text-color;
  font-size: 13px;
  font-weight: 500;
  @media (min-width: @screen-sm-min) {
    padding: 7px 0 0 15px;
  }
  @media (min-width: @screen-md-min) {
    padding: 18px 0 0 15px;
  }
}
.header-address-title {
  text-transform: uppercase;
  @media (min-width: @screen-lg-min) {
    font-size: 14px;
    font-weight: 700;
  }
}
.header-address-item {
  margin-top: 5px;
  @media (min-width: @screen-lg-min) {
    font-size: 13px;
    font-weight: 400;
  }
}
/*Header end*/
                                                        /*Footer*/
.footer-info {
  background: @purple;
  padding: 20px 0;
}
.footer-copy {
  background: @purple;
  padding: 20px 0;
  border-top: 1px solid rgba(255,255,255,0.2);
}
.footer-tel {
  margin-bottom: 10px;
  a {
    color: #fff;
    .no-border;
    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
.footer-email {
  margin-bottom: 20px;
  a {
    color: #fff;
    font-size: 16px;
    .border-link((rgba(255,255,255,0.7)));
  }
}
.footer-address-title {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 12px;
}
.footer-address-item {
  color: #fff;
  font-size: 15px;
  margin-bottom: 5px;
}
.footer-address {
  margin-bottom: 20px;
}
.footer-credit-btn {
  font-size: 13px;
  padding: 8px 25px;
  margin-bottom: 30px;
}
.footer-nav {
  ul {
    .list-unstyled;
    margin-bottom: 30px;
    @media (min-width: @screen-lg-min) {
      text-align: justify;
      overflow: hidden;
      cursor: default;
      &:after {
        content: "1";
        margin-left: 100%;
        height: 1px;
        overflow: hidden;
        display: inline-block;
      }
    }
    li {
      display: inline;
      line-height: 2;
      margin-right: 20px;
      @media (min-width: @screen-sm-min) {
        display: block;
        line-height: 1.75;
      }
      @media (min-width: @screen-lg-min) {
        display: inline;
      }
      a {
        color: #fff;
        font-size: 13px;
        .border-link(rgba(255,255,255,0.5));
        @media (min-width: @screen-lg-min) {
          display: inline-block;
        }
      }
    }
  }
}
.text-offer {
  color: #928f98;
  font-size: 13px;
  line-height: 1.2;
}
.footer-brand {
  color: #908c9a;
  span {
    margin-right: 20px;
  }
}
.footer-create {
  color: #908c9a;
  margin-top: 8px;
  @media (min-width: @screen-sm-min) {
    text-align: right;
    margin: 0;
  }
  a {
    color: #908c9a;
    border-bottom-color: rgba(144,140,154,0.3);
  }
}
/*Footer end*/
                                                  /*Modal*/
.modal-content {
  border-radius: @border-radius-small;
}
.modal-header, .modal-body {
  padding: 25px;
  @media (min-width: @screen-sm-min) {
    padding: 25px 40px;
  }
}
.modal-title {
  font-size: 20px;
  @media (min-width: @screen-lg-min) {
    font-size: 24px;
  }
}
.modal {
  .btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 35px;
  }
}
.close {
  font-size: 30px;
}
/*Modal end*/
                                                  /*Frontpage content*/
.section-title {
  font-size: @font-size-h1;
  @media (min-width: @screen-lg-min) {
    font-size: @font-size-h1 * 1.4;
  }
}
#main-carousel {
  .carousel-cell {
    width: 100%; /* full width */
    height: 440px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 176px;
    @media (min-width: @screen-sm-min) {
      height: 422px;
      background-size: cover;
    }
    @media (min-width: @screen-lg-min) {
      height: 650px;
    }
    img {
      .img-responsive;
    }
  }
  .slide-1 {
    background-image: url(../images/slide-1.jpg);
  }
  .slide-2 {
    background-image: url(../images/slide-2.jpg);
  }
  .slide-3 {
    background-image: url(../images/slide-3.jpg);
  }
  .slide-4 {
    background-image: url(../images/slide-4.jpg);
  }
  .slide-5 {
    background-image: url(../images/slide-5.jpg);
  }
  .slide-8 {
    background-image: url(../images/slide-8.jpg);
  }
}
.main-carousel-caption {
  height: 296px;
  position: absolute;
  bottom: 0;
  width: 276px;
  padding: 30px;
  @media (min-width: @screen-sm-min) {
    top: 50%;
    margin-top: -151px;
    bottom: auto;
  }
  @media (min-width: @screen-lg-min) {
    width: 450px;
    height: 470px;
    padding: 45px 40px;
    margin-top: -238px;
  }
}
.purple-caption {
  background: linear-gradient(to right bottom, @brand-primary, #242031);
  box-shadow: 6px -6px rgba(75,48,145,0.5);
  color: #fff;
}
.white-caption {
  background: #fff;
  box-shadow: 6px -6px rgba(200,200,200,0.5);
  color: #000;
  border: 1px solid rgba(0,0,0,0.2);
}
.left-caption {
  left: 50%;
  margin-left: -141px;
  @media (min-width: @screen-sm-min) {
    margin-left: -302px;
  }
  @media (min-width: @screen-md-min) {
    margin-left: -402px;
  }
  @media (min-width: @screen-lg-min) {
    margin-left: -520px;
  }
  @media (min-width: 1360px) {
    margin-left: -570px;
  }
}
.right-caption {
  right: 50%;
  margin-right: -141px;
  @media (min-width: @screen-sm-min) {
    margin-right: -302px;
  }
  @media (min-width: @screen-md-min) {
    margin-right: -402px;
  }
  @media (min-width: @screen-lg-min) {
    margin-right: -520px;
  }
  @media (min-width: 1360px) {
    margin-right: -570px;
  }
}
.flickity-prev-next-button {
  border-radius: 0!important;
  width: 34px!important;
  height: 54px!important;
  &.previous {
    left: 0!important;
  }
  &.next {
    right: 0!important;
  }
}
#main-carousel {
  .flickity-prev-next-button {
    background: rgba(0,0,0,0.5)!important;
    top: 88px!important;
    @media (min-width: @screen-sm-min) {
      top: 50%!important;
      margin-top: -27px!important;
    }
    .arrow {
      fill: #fff!important;
    }
  }
}
.main-carousel-caption {
  ul {
    padding-left: 15px;
    margin-bottom: 20px;
  }
  p, ul li {
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 10px;
    @media (min-width: @screen-lg-min) {
      font-size: 20px;
    }
  }
  p.carousel-caption-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media (min-width: @screen-lg-min) {
      font-size: 42px;
    }
  }
  .btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 35px;
  }
}
.slide-1 {
  .main-carousel-caption {
    p.carousel-caption-title {
      @media (min-width: @screen-lg-min) {
        margin-bottom: 20px;
      }
    }
    ul {
      @media (min-width: @screen-lg-min) {
        margin-bottom: 50px;
      }
    }
  }
}
.slide-2 {
  .main-carousel-caption {
    .btn {
      margin-top: 40px;
    }
  }
}
.slide-3 {
  .main-carousel-caption {
    p:nth-of-type(2) {
      font-weight: 700;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 30px;
      }
    }
    ul {
      .clearfix;
      margin-bottom: 10px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 25px;
      }
      li {
        font-size: 12px;
        float: left;
        margin-right: 20px;
        @media (min-width: @screen-lg-min) {
          font-size: 14px;
          margin-right: 25px;
          margin-bottom: 15px;
        }
      }
    }
    p:nth-of-type(3) {
      color: @brand-danger;
      font-weight: 700;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 25px;
      }
    }
  }
}
.slide-4 {
  .main-carousel-caption {
    p:nth-of-type(2) {
      font-weight: 700;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 30px;
      }
    }
    ul {
      @media (min-width: @screen-lg-min) {
        margin-bottom: 30px;
      }
      li {
        font-size: 12px;
        @media (min-width: @screen-lg-min) {
          font-size: 14px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
.slide-5 {
  .main-carousel-caption {
    p.carousel-caption-title {
      @media (min-width: @screen-lg-min) {
        font-size: 38px;
        margin-bottom: 35px;
      }
    }
    ul {
      margin-left: 2px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 30px;
      }
      li {
        font-size: 12px;
        padding-left: 8px;
        margin-bottom: 6px;
        @media (min-width: @screen-lg-min) {
          font-size: 14px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
.frontpage-auto-list {
  padding-bottom: 40px;
  @media (min-width: @screen-sm-min) {
    padding-top: 10px;
    padding-bottom: 60px;
  }
  @media (min-width: @screen-lg-min) {
    padding-top: 40px;
  }
  .nav-tabs {
    > li {
      > a {
        color: #1d1d1b;
        //font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover, &:focus {
          background: none;
          border-color: transparent;
        }
      }
      &.active {
        border-bottom: 2px solid @brand-danger;
        > a {
          font-weight: 700;
          border: none;
          &:hover, &:focus {
            color: #1d1d1b;
          }
        }
      }
    }
  }
  .tab-pane {
    padding-top: 30px;
  }
  .avto-more {
    a {
      border-bottom-style: solid;
      &:after {
        content: "›";
        font-size: 20px;
        margin-left: 10px;
      }
    }
  }
}
#news-carousel {
  .carousel-cell {
    margin-right: 10px;
  }
  .flickity-prev-next-button {
    background: transparent!important;
    top: 70px!important;
    .arrow {
      fill: @brand-primary!important;
    }
  }
}
.frontpage-news {
  background: #f6f6f6;
  padding: 40px 0;
  @media (min-width: @screen-lg-min) {
    padding: 60px 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 40px;
    a {
      color: @dark-text-color;
      text-decoration: none;
      border-bottom: 1px solid rgba(51,51,51,0.5);
    }
  }
}
.frontpage-news-gallery {
  .controls {
    position: absolute;
    width: 15px;
    height: 27px;
    top: 44px;
    border: none;
    z-index: 3;
  }
  .controls.prev {
    left: 0;
    background: url(../images/prev.png) no-repeat center;
  }
  .controls.next {
    right: 0;
    background: url(../images/next.png) no-repeat center;
  }
}
.frontpage-news-gallery-item {
  width: 290px;
  height: 200px;
  padding: 0 40px;
  @media (min-width: @screen-sm-min) {
    width: 344px;
    padding: 0 0 0 40px;
  }
  @media (min-width: @screen-md-min) {
    width: 300px;
    height: 210px;
  }
  @media (min-width: @screen-lg-min) {
    width: 275px;
    padding: 0 0 0 30px;
  }
  a {
    .border-link;
  }
  img {
    .img-responsive;
    margin-bottom: 15px;
  }
}
.frontpage-avtocredit {
  padding: 40px 0 5px;
  @media (min-width: @screen-lg-min) {
    padding: 60px 0 20px;
  }
  h2 {
    margin: 0 0 40px;
    a {
      color: @dark-text-color;
      .border-link(@border-color: rgba(51,51,51,0.3));
    }
  }
  .info-list {
    color: #000;
    padding-left: 15px;
    margin-bottom: 30px;
    li {
      margin-bottom: 10px;
    }
  }
}
.credit-horiz-block {
  margin: 0 -15px;
  padding: 35px 15px;
  @media (min-width: @screen-sm-min) {
    padding: 35px 45px;
  }
  @media (min-width: @screen-lg-min) {
    height: 576px;
  }
}
.credit-form-avto-img {
  margin-bottom: 15px;
  img {
    .img-responsive;
    @media (min-width: @screen-sm-min) {
      margin: 0 auto;
      max-height: 148px;
    }
  }
}
.credit-horiz-contacts {
  background: #f6f6f6;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    bottom: 100%;
  }
  &:before {
    border-style: solid;
    border-color: transparent transparent transparent #f6f6f6;
    left: 0;
    @media (min-width: @screen-lg-min) {
      border-color: transparent #f6f6f6 transparent transparent;
      top: 0;
      left: auto;
      right: 100%;
      bottom: auto;
    }
  }
  &:after {
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 0;
    @media (min-width: @screen-lg-min) {
      right: 100%;
      bottom: 0;
    }
  }
  .form-group {
    margin-bottom: 22px;
  }
  .help-block {
    color: @dark-text-color;
    margin-top: 10px;
  }
}
.credit-horiz-contacts {
  @media (min-width: @screen-lg-min) {
    padding-top: 100px;
  }
  &:before {
    border-width: 40px 0 0 485px;
    @media (min-width: @screen-lg-min) {
      border-width: 0 40px 288px 0;
    }
  }
  &:after {
    border-width: 0 0 40px 485px;
    @media (min-width: @screen-lg-min) {
      border-width: 0 0 288px 40px;
    }
  }
}
.credit-form {
  padding: 0 15px;
}
.frontpage-avtocredit-form {
  margin: 0 -15px;
}
select.form-control {
  @media (min-width: @screen-sm-min) {
    max-width: none;
  }
}
#fio {
  @media (min-width: @screen-sm-min) {
    max-width: none;
  }
}
.avtocredit-slider {
  padding-top: 10px;
  @media (min-width: @screen-sm-min) {
    padding-top: 0;
    margin-top: -10px;
  }
}
.frontpage-text {
  padding: 5px 0 20px;
  font-size: 13px;
}
.partners {
  padding: 0 0 20px;
  @media (min-width: @screen-sm-min) {
    padding: 10px 0 40px;
  }
  img {
    .img-responsive;
    margin: 0 auto;
  }
}
.frontpage-partners {
  //padding: 20px 0 40px;
}
.partners-img {
  //text-align: center;
}
/*Frontpage content end*/
                                                      /*Inner page*/
.inner-page {
  padding: 0 0 60px;
  @media (min-width: @screen-sm-min) {
    padding: 20px 0 90px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 30px 0 120px;
  }
}
.breadcrumb-line {
  background: #f2f2f2;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  padding: 4px 0;
}
.breadcrumb {
  margin-bottom: 0;
}
/*Inner page end*/
                                                      /*Avtocredit page*/
.info-list {
  .list-unstyled;
  //padding-left: 15px;
  li {
    position: relative;
    padding-left: 20px;
    &:before {
      content: "›";
      color: @brand-danger;
      font-size: 22px;
      position: absolute;
      top: -9px;
      left: 0;
    }
  }
}
.credit-info {
  float: right;
}
.credit-info-group {
  margin-bottom: 30px;
  @media (min-width: @screen-lg-min) {
    padding-right: 50px;
    margin-bottom: 60px;
  }
  ul {
    @media (min-width: @screen-lg-min) {
      margin-top: 100px;
    }
    li {
      color: #000;
      font-size: 13px;
      margin-bottom: 10px;
      @media (min-width: @screen-lg-min) {
        font-size: 16px;
      }
    }
  }
  h2 {
    color: #1d1d1b;
    margin-left: 30px;
  }
  ol {
    padding-left: 15px;
    li {
      color: #3c3c3b;
      //font-size: 12px;
      padding-left: 15px;
      margin-bottom: 10px;
    }
  }
}
.credit-preamble {
  color: #1d1d1b;
  //max-width: 700px;
  margin-bottom: 30px;
}
p.credit-statistic {
  color: #1d1d1b;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
  @media (min-width: @screen-lg-min) {
    font-size: 18px;
  }
  span {
    color: @brand-danger;
    font-size: 18px;
    @media (min-width: @screen-lg-min) {
      font-size: 22px;
      font-weight: 700;
    }
  }
}
.credit-form {
  box-shadow: 0 0 5px 1px #ccc;
  > .row {
    overflow-x: hidden;
  }
}
.avtocredit-page-credit-form {
  .credit-form {
    overflow-x: hidden;
  }
  .form-group {
    margin-bottom: 30px;
  }
  .credit-price-block {
    @media (min-width: @screen-lg-min) {
      padding-bottom: 40px;
    }
  }
  .credit-form-price {
    text-align: center;
    @media (min-width: @screen-sm-min) {
      text-align: left;
    }
    @media (min-width: @screen-md-min) {
      text-align: center;
    }
  }
}
.credit-vert-block {
  margin: 0 -15px;
  padding: 35px 15px;
  @media (min-width: @screen-sm-min) {
    padding: 35px 45px;
  }
}
.required {
  &:after {
    content: "*";
    color: @brand-danger;
  }
}
.credit-price-block {
  padding: 20px 0 30px;
  @media (min-width: @screen-lg-min) {
    padding: 20px 0 0;
  }
}
.credit-form-price {
  color: @brand-danger;
  font-size: 15px;
  text-align: center;
  line-height: 1.1;
  @media (min-width: @screen-sm-min) {
    font-size: 17px;
    text-align: left;
  }
  span {
    font-size: 32px;
    font-weight: 700;
    @media (min-width: @screen-sm-min) {
      font-size: 36px;
    }
  }
}
.credit-vert-contacts {
  background: #f6f6f6;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    bottom: 100%;
  }
  &:before {
    border-style: solid;
    border-width: 40px 0 0 485px;
    border-color: transparent transparent transparent #f6f6f6;
    left: 0;
  }
  &:after {
    border-style: solid;
    border-width: 0 0 40px 485px;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 0;
  }
  .help-block {
    color: @dark-text-color;
    margin-top: 10px;
  }
}
.credit-form-btn {
  width: 100%;
  height: 60px;
  font-size: 17px;
  @media (min-width: @screen-lg-min) {
    font-size: 20px;
  }
}
/*Avtocredit page end*/
                                                        /*New auto page*/
.avto-menu {
  .clearfix;
  margin-bottom: 30px;
  @media (min-width: @screen-lg-min) {
    margin-bottom: 50px;
  }
}
.avto-link {
  .no-border;
  float: left;
  width: 32%;
  margin: 0 0.5% 10px;
  background: linear-gradient(to bottom, #fff, #f3f3f3);
  text-align: center;
  height: 85px;
  padding: 10px 12px 25px;
  @media (min-width: @screen-sm-min) {
    width: 13.28571%;
    margin: 0 0.5% 10px;
  }
  @media (min-width: @screen-md-min) {
    height: 100px;
    padding: 15px 15px 25px;
  }
  img {
    .img-responsive;
    margin: 0 auto;
  }
  //float: left;
  //width: 13.28571%;
  //margin: 0 0.5% 10px;

  > span {
    display: block;
    span {
      font-size: 12px;
      .border-link(rgba(75,48,145,0.5));
      @media (min-width: @screen-md-min) {
       font-size: 13px;
      }
    }
  }
}
.avto-select {
  margin-bottom: 60px;
}
select.form-control {
  -webkit-appearance: none;
  background-image: url(../images/select-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
}
select::-ms-expand {
  display: none;
}
.avto-list {
  .avto-price {
    margin-bottom: 5px;
  }
}
.avto-img {
  margin-bottom: 20px;
  img {
    .img-responsive;
  }
}
.avto-title {
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    height: 46px;
  }
  @media (min-width: @screen-lg-min) {
    height: 54px;
  }
  a {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    border-bottom: 1px solid rgba(75,48,145,0.5);
    @media (min-width: @screen-lg-min) {
      font-size: 22px;
    }
  }
}
.avto-price {
  color: #1d1d1b;
  font-size: 16px;
  font-weight: 700;
}
.avto-credit-price {
  color: @brand-danger;
  font-size: 13px;
  line-height: 1.3;
  margin-bottom: 10px;
  span {
    font-size: 14px;
  }
}
.avto-credit-btn {
  font-size: 13px;
  padding: 8px 15px;
  text-decoration: none;
  @media (min-width: @screen-lg-min) {
    font-size: 14px;
  }
}
.avto-card {
  border-right: 1px solid #e0e0e0;
  margin-bottom: 40px;
  @media (min-width: @screen-sm-min) {
    height: 360px;
  }
  @media (min-width: @screen-md-min) {
    height: 410px;
  }
  @media (min-width: @screen-lg-min) {
    height: 418px;
    margin-bottom: 50px;
  }
  &:nth-of-type(3n) {
    border-right: none;
  }
  &:nth-of-type(3) {
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 50px;
    }
  }
}
.avto-bu-card {
  @media (min-width: @screen-sm-min) {
    height: 480px;
  }
  @media (min-width: @screen-md-min) {
    //height: 480px;
  }
  @media (min-width: @screen-lg-min) {
    height: 540px;
  }
  .link-more {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      margin-bottom: 20px;
    }
  }
}
.avto-more {
  text-align: center;
  a {
    color: #3c3c3b;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dashed rgba(60,60,59,0.5);
  }
}
/*New auto page end*/
                                                  /*New avto model page*/
.model-main-info {
  padding: 30px 0 0;
  @media (min-width: @screen-sm-min) {
    padding: 15px 0 0;
  }
  h1 {
    margin: 0 0 20px;
    @media (min-width: @screen-md-min) {
      font-size: 32px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 36px;
    }
  }
  .info-list {
    @media (min-width: @screen-sm-min) {
      padding-top: 20px;
    }
    @media (min-width: @screen-md-min) {
      //padding-top: 0;
    }
    li {
      color: #1d1d1b;
      font-size: 13px;
      margin-bottom: 10px;
      @media (min-width: @screen-md-min) {
        font-size: 14px;
      }
    }
  }
}
.model-main-price {
  color: #1d1d1b;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0;
  @media (min-width: @screen-sm-min) {
    font-size: 20px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 24px;
    margin: 30px 0 40px;
  }
}
.model-main-credit {
  color: @brand-danger;
  font-size: 16px;
  margin-bottom: 10px;
  @media (min-width: @screen-lg-min) {
    font-size: 18px;
  }
}
.lSAction {
  a {
    .no-border;
  }
}
.lSSlideOuter .lSPager.lSGallery {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}
.lSSlideOuter {
  //max-width: 662px;
  margin: 0 -15px;
  .lightSlider {
    .lslide {
      img {
        .img-responsive;
        margin: 0 auto;
      }
    }
  }
}
#model-carousel {
  margin: 0 -15px;
  .flickity-prev-next-button {
    top: 50%!important;
    margin-top: -27px!important;
    .arrow {
      fill: @brand-primary!important;
    }
  }
  img {
    //.img-responsive;
  }
}
.model-subtitle {
  margin-bottom: 30px;
}
.model-credit-calc {
  padding: 20px 0 60px;
  @media (min-width: @screen-lg-min) {
    padding: 30px 0 80px;
  }
}
/*
.model-credit-form {
  .credit-form-price {
    line-height: 1.1;
    margin-top: 15px;
  }
}
.model-credit-form {
  .credit-horiz-block {
    //height: 436px;
  }
}
/*
.model-credit-form {
  .credit-horiz-contacts {
    &:before {
      border-width: 0 40px 218px 0;
    }
    &:after {
      border-width: 0 0 218px 40px;
    }
  }
}
*/
.model-credit-form-btn {
  color: #fff;
  width: 100%;
  height: 60px;
  font-size: 17px;
  margin-top: 10px;
  .btn-gradient;
  background: linear-gradient(to bottom, #dadada, #a0a0a0);
  @media (min-width: @screen-lg-min) {
    font-size: 20px;
  }
  &:before {
    background: linear-gradient(to bottom, darken(#dadada, 5%), darken(#a0a0a0, 15%));
  }
  &:after {
    background: linear-gradient(to bottom, darken(#a0a0a0, 15%), darken(#dadada, 5%));
  }
  &:hover, &:focus {
    .btn-danger;
  }
}
.model-detail-info {
  .tab-content {
    padding-bottom: 30px;
  }
  .nav-tabs {
    border: none;
    li {
      a {
        border: none;
      }
    }
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
  }
}
.model-detail-info-nav {
  .list-unstyled;
  @media (min-width: @screen-sm-min) {
    border-bottom: 1px solid #e1e1e1!important;
  }
  li {
    width: 100%;
    @media (min-width: @screen-sm-min) {
      display: inline-block;
      width: auto;
      margin-right: 25px;
    }
    @media (min-width: @screen-md-min) {
      margin-right: 30px;
    }
    a {
      color: #1d1d1b;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      .no-border;
      display: block;
      padding: 8px 0;
      @media (min-width: @screen-lg-min) {
        font-size: 14px;
      }
      &:hover {
        background: none;
        border: none;
      }
    }
    &.active {
      border-bottom: 1px solid #e1e1e1;
      @media (min-width: @screen-sm-min) {
        border-bottom: none;
      }
      a {
        display: inline-block;
        font-weight: 700;
        border-bottom: 2px solid @brand-danger!important;
      }
    }
  }
}
.avto-param {
  .dl-horizontal;
  font-size: 13px;
  //height: 54px;
  dt {
    color: #878787;
    width: auto;
    font-weight: 400;
    text-align: left;
    padding-right: 5px;
  }
  dd {
    color: #1d1d1b;
    margin-left: auto;
  }
}
.model-available {
  //margin-bottom: 60px;
}
.model-detail-info-bottom {
  margin-top: 40px;
}
.model-available-list {
  .avto-card {
    @media (min-width: @screen-sm-min) {
      height: 400px;
    }
    @media (min-width: @screen-md-min) {
      height: 450px;
    }
    @media (min-width: @screen-lg-min) {
      height: 426px;
    }
  }
  .avto-price {
    margin-bottom: 15px;
  }
  .model-available-credit-btn {
    margin-bottom: 10px;
    @media (min-width: @screen-lg-min) {
      float: right;
    }
  }
  .credit-price {
    margin-bottom: 15px;
  }
  .link-more {
    padding-top: 5px;
    a {
      font-size: 13px;
      .border-link;
    }
  }
}
.model-stand-eq {
  margin-bottom: 60px;
  h3 {
    //font-size: 12px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
  ul {
    .list-unstyled;
    li {
      color: @dark-text-color;
      //font-size: 12px;
      position: relative;
      padding-left: 15px;
      margin-bottom: 5px;
      &:before {
        content: "–";
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.reset-table {
  table {
    .table !important;
    tr {
      background: none !important;
      td, td p, td span {
        font-family: @font-family-base !important;
        color: @text-color !important;
        background: none !important;
        border-left:none !important;
        border-right:none !important;
        border-top:none !important;
        font-size: @font-size-base !important;
      }
      td {
        border-bottom: 1px dashed rgba(237,28,50,0.5) !important;
        border-left:none !important;
        border-right:none !important;
        border-top:none !important;
        font-size: @font-size-base !important;
      }
      th {
        background: linear-gradient(to bottom, #f4f4f4, #fff) !important;
        font-family: @font-family-base !important;
        color: @text-color !important;
        border-bottom: 1px dashed rgba(237,28,50,0.5) !important;
        font-size: @font-size-base !important;
        font-weight: bold !important;
      }
    }
  }
}

.model-table {
  table {
    border: none;
    color: @dark-text-color;
    font-size: 12px;
    th, td {
      height: 55px;
    }
  }
  .table > thead > tr > th,
  .table > tbody > tr > td {
    border-color: #e1e1e1;
    border-right: none;
    border-left: none;
    padding: 8px 4px;
  }
  table > thead > tr > th {
    color: #1d1d1b;
  }
  .table > tbody > tr:hover > td, .table > tbody > tr:focus > td {
    background: none;
  }
  .table > tbody > tr.modif td {
    a {
      color: @brand-danger;
      text-decoration: none;
      border-bottom: 1px dashed rgba(237,28,50,0.5);
    }
  }
  .table > tbody > tr.table-subtitle td {
    background: linear-gradient(to bottom, #f4f4f4, #fff);
    padding: 12px 15px;
    span {
      color: #1d1d1b;
      font-size: 12px;
      text-transform: uppercase;
      background: url(../images/arrow-close.png) no-repeat right center;
      padding-right: 20px;
      cursor: pointer;
      &.open {
        background: url(../images/arrow-open.png) no-repeat right center;
      }
    }
  }
}
.model-variation {
  margin-bottom: 60px;
}
.model-variation-table {
  .table > tbody > tr > td:first-child {
    width: 190px;
  }
  .table > tbody > tr > td.table-content {
    text-align: center;
  }
}
.model-tech-param-table {
  .table {
    width: 80%;
    tr td {
      width: 20%;
    }
  }
}
.model-tech-param {
  margin-bottom: 60px;
}
.model-credit-btn {
  padding: 10px 25px;
  font-size: 13px;
  @media (min-width: @screen-sm-min) {
    font-size: 16px;
  }
}
.model-call-link {
  padding-top: 10px;
  a {
    font-size: 13px;
    .border-link;
    @media (min-width: @screen-sm-min) {
      font-size: 14px;
    }
  }
}
/*New avto model page end*/
                                                            /*Contacts page*/
.contacts-title {
  color: #1d1d1b;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.contacts-list {
  margin-bottom: 20px;
  @media (min-width: @screen-md-min) {
    max-width: 970px;
  }
  p {
    color: #1d1d1b;
    margin-bottom: 8px;
  }
}
.contacts-group {
  padding: 10px 0 20px;
  @media (min-width: @screen-sm-min) {
    padding: 15px 0 35px;
  }
}
.contacts-tel {
  a {
    color: #1d1d1b;
    font-weight: 700;
    .no-border;
  }
}
.contacts-email {
  a {
    .border-link;
  }
}
.map {
  position: relative;
}
ymaps {
  position: relative;
  z-index: 2;
}
.contacts-form {
  @media (min-width: @screen-sm-min) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  form {
    padding: 35px 0;
    @media (min-width: @screen-sm-min) {
      float: right;
      width: 340px;
      background: #fff;
      padding: 25px 35px;
      margin-top: 45px;
      position: relative;
      z-index: 3;
      .btn {
        padding: 8px 30px;
      }
    }
  }
}
/*Contacts page end*/

.news-item {
  margin-bottom: 35px;
  @media (min-width: @screen-sm-min) {
    margin: 35px 0 45px;
  }
  @media (min-width: @screen-lg-min) {
    margin: 45px 0 55px;
  }
  .news_title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  img {
    margin-bottom: 15px;
    margin-bottom: 15px;
  }
}
.news-title {
  margin-bottom: 10px;
}
.item-list ul li {
  margin: 0;
}
.pager {
  margin-top: 40px;
  li {

    > a {
      text-decoration: none;
    }
  }
}
.item-list ul.pager li a {
  margin-bottom: 5px;
}
.webform-component--istochnik-zayavki {
  display: none;
}
.field-label-inline .field-label, .field-label-inline .field-items {
  width: 160px;
}

.breadcrumb-line {
  padding-top: 25px;
  background: none;
  border:none;
  margin-bottom: -35px;
  .breadcrumb {
    background: none;
    li {
      font-size: 12px;
      @media (min-width: @screen-lg-min) {
        font-size: 13px;
      }
    }
  }
}
.model-page {
  .breadcrumb-line {
    margin-bottom: 0;
  }
}
.avto-card-order {
  max-width: 500px;
}
.field-item {
  img {
    .img-responsive;
    margin: 30px 0 15px;
    @media (min-width: @screen-lg-min) {
      margin: 40px 0 25px;
    }
  }
}
.taxonomy-model-page {
  .avto-list {
    margin-top: 30px;
    @media (min-width: @screen-sm-min) {
      margin-top: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-top: 50px;
    }
  }
}
#model_stand_eq {
  p {
    margin-bottom: @line-height-computed/1.5;
  }
  ul {
    margin-bottom: @line-height-computed*1.2;
  }
}
                                                            /*Reviews page*/
.reviews-img {
  margin-bottom: 15px;
  img {
    .img-responsive;
  }
}
.reviews-date {
  margin-bottom: 5px;
}
.reviews-name {
  color: @dark-text-color;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.reviews-item {
  margin-bottom: 40px;
  @media (min-width: @screen-sm-min) {
    margin-top: 30px;
  }
  @media (min-width: @screen-md-min) {
    max-width: 970px;
  }
}
.reviews-avto {
  margin-bottom: 5px;
}
.reviews-credit {
  margin-bottom: 5px;
}
.reviews-text {
  margin-top: 15px;
}
.reviews-credit {
  color: @brand-danger;
  font-size: 13px;
}
/*Reviews page end*/
                                              /*NY theme*/

.ny-theme {
  background: url(../images/sneg.png) no-repeat center top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 450;
}

/*NY theme end*/